
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

html {
    font-family: "Inter";
    font-size: 1em;
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    background-color: #FAFAFA;
}

/* HEADERS */
h1,
h3 {
    font-family: "Merriweather";
    color: #413B3B;
}

h1 {
    font-size: 50px;
    margin-bottom: 12px;
}

h3 {
    margin-top: 25px;
    margin-bottom: -10px;
}

hr {
    margin-bottom: 20px;
}

/* PARAGRAPHS */
p,
p.center,
p.right,
blockquote
{
    color: #6b6868;
    text-align: justify;
}

/* convert center and right to general classes? */
p.center {
    text-align: center;
}

p.right {
    text-align: right;
}

.date {
    font-family: "IBM Plex Mono";
    margin-right: 10px;
    color: #a39e9e;
}

li {
    color: #6b6868;
    margin-bottom: 5px;
    text-align: justify;
}

blockquote {
    font-style: italic;
}

/* LINKS */
a:link, a:visited {
    color: #6b6868;
}

a:hover {
    color: #FAFAFA;
    background: #6b6868;
}

/* MAIN PAGE LINK */
a:link.home, a:visited.home {
    color: #413B3B;
    text-decoration: none; /* removes underline */
}

a:hover.home {
    color: #FAFAFA;
    background: #413B3B;
}

img {
    display: block;
    max-width: 100%;
    margin: 20px auto;
}
