
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    font-family: "Inter";
    font-size: 1em;
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    background-color: #FAFAFA;
}

h1,
h3 {
    font-family: "Merriweather";
    color: #413B3B;
    margin-bottom: 12px;
}

h1 {
    font-size: 50px;
}

hr {
    margin-bottom: 20px;
}

p,
p.right,
li {
    color: #6b6868;
}

p.right {
    text-align: right;
    margin: auto;
}

ul {
    list-style: none;
    margin-top: -10px;
    margin-left: 0;
    padding-left: 2ch;
    text-indent: -1ch;
}

li:before {
    content: "–";
    padding-right: 1ch;
}

a:link.home, a:visited.home {
    color: #413B3B;
    text-decoration: none;
}

a:hover.home {
    color: #FAFAFA;
    background: #413B3B;
}

a:link.link, a:visited.link {
    color: #6b6868;
}

a:hover.link {
    color: #FAFAFA;
    background: #6b6868;
}

img {
    padding: 20px 0px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
