html {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    background-color: #FAFAFA;
}

body {
    width: 600px;
    margin: auto;
    margin-top: 20px;
    background-color: #FAFAFA;
    padding: 10px 40px 40px 40px;
}

h1 {
    font-size: 70px;
    font-family: "Merriweather", sans-serif;
    letter-spacing: 1px;
    text-align: right;
    color: #413B3B;
    margin: auto;
    margin-top: 10px;
    padding: 30px 0px 25px 0px;
}

p, li {
    color: #413B3B;
    line-height: 1.5;
    text-align: right;
    margin: auto;
}
